body{
    margin: 0;
}
*{
     box-sizing: border-box;
}   
.container{
    display: flex;
    height:100vh;
    width:100vw;

}
.item{
    flex-basis:50%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.child-2{
    padding: 0 10%;
    
}

.child-1{
    /* width: 50%; */
    background-color: rgb(67, 39, 67);
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    position: relative;
    padding: 0 7.5%;
}
.header{
    color: white;
    padding-left: 20%;
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.picture{
    position: relative;
    padding-left: 10%;
}
.circle{
    position: relative;
    border-radius: 50%;
    background-color: rgb(221, 104, 50);
    width: 90%;
    aspect-ratio: 1 / 1;
    margin-top: 30px;
    align-items: center;
    z-index: 1;
    
}
.img1{
    position: absolute;
    width: 40%;
    height: 90%;
    top: 5%;
    z-index: 3;
    left:16%;
}
.img2{
    position: absolute;
    width: 47%;
    height: 85%;
    z-index: 2;
    top:15%;
    left: 44%;
}
.stores{
    display: flex;
    align-items: center;
    padding-left: 10%;
}
.google,.apple{
    width: 28%;
    margin-top: 7%;
}
.google{
    padding: 10px;
}
.apple{
    padding:25px;
} 
.options{
    display: flex;
    flex-direction:column;
    border-radius: 4px;
    text-align: center;
    padding: 10px;
    justify-content: space-between;
    box-shadow:0 0 1px solid grey;
    background-color: white;
}
.op{
    flex-basis: 100%;
    padding: 2px;
    text-align: center;
    margin-bottom: 30px;
    box-shadow: 0 0 10px rgb(230, 227, 227);
}
.line{
    position: relative;
    top: -20px;
    left: 40%;
    padding: 0 20px;
    background-color: white;
}
.icon{
    flex-basis: 15%;
    display: inline-block;
    text-align: center;
   
}
.email,.password{
    height: 85%;
    flex-basis: 85%;
    display:flex;
    flex-direction: column;
}
.email-label{
    font-size: 0.7rem;
    flex-basis: 20%;
}
.pass-label{
    font-size: 0.7rem;
    flex-basis: 20%;
}
input[type="password"], input[type="email"]{
    width: 100%;
    border: none;
    background: none;
    flex-basis: 70%;
    outline: none;
}
.mail{
    margin-bottom: 5%;
}
.details-form{
    height: 40%;
}
.mail,.pass{
    display: flex;
    align-items: center;
    color: #333;
    height: 20%;
    background-color:whitesmoke;
    border-radius: 5px;
}
.pass{
    margin-bottom: 3%;
}
.remember,.forgot{
    display: inline;
}
.remember{
    display: flex; 
    justify-content: space-between;  
    color: grey;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}
.forgot{
    color: grey;
}
[type="checkbox"]{
    border: none;
    background-color: grey;
}
input[value="LOGIN"]{
    margin-top:25px;
    display: block;
    width: 100%;
    border: 0;
    color: white;
    background-color: rgba(251, 106, 54, 0.814);
    padding: 10px;
    border-radius: 5px;
    justify-content: center;
}
.register{
    margin-top: 7%;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
.reg{
    color: grey;
}